# Logs
logs/
*.log

# Node.js
frontend/node_modules/
backend/node_modules/
npm-debug.log*

# Environment variables
backend/.env

# Build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
